@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Poppins, sans-serif;
}
.hero-top {
    justify-self: center;
    width : 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 400px;
}

.hero-top img {
    margin-right: 36px;
    border-radius: 25px;
}

.mid-part {
    display: flex;
    justify-content: center;
}

.skills {
    margin-top : 28px;
    justify-self: center;
}

.multi-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.multi-page > h3 > a {
    background-color: #0069D9;
    padding : 12px;
    border-radius: 12px;
}

.multi-page > h3 > a:hover {
    color : black;
    background-color: #2a91ff;
}

a {
    text-decoration: none;
    color : black;
    transition: all 0.5s linear;
}

a:hover {
    transform: scale(2);
    color : rgb(51, 50, 50)
}

footer {
    justify-self: center ;
}